<h3>Add a new booking</h3>
<%= simple_form_for [car, booking] do |f| %>
  <%= f.association :car, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :user %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
