.cards {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 20px;
grid-row-gap: 30px;
margin: 0 auto;
justify-items: center;
}


.card {
  height: 300px;
  width: 400px;
  position: relative;
  border: none;
  a {
    border: none;
    border-radius: 5px;
    img {
      height: 200px;
      width: 100%;
      transition: all 0.5s ease;
      &:hover {
      box-shadow: 0 4px 24px rgba(0,0,0,.15);
  }
    }
  }
}

.cards > .card > .box {
  padding: 15px 25px;
  text-align: center;
  width: 110px;
  height: 90px;
  background-color: white;
  border-radius: 20%;
  color: #390446;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 55px;
  right: 23px;
  font-weight: bolder;
  span {
    font-size: 10px;
    margin: 0;
    color: rgb(150, 150, 150);
    padding: 0;
  }
  h4 {
    margin: 0;
    font-size: 30px;
  }
}

.pho {
  background-repeat: no-repeat;
  background-position: center;
}

.card-body {
  padding: 9.5px;
  padding-left: 1px;
}
