.cards {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 20px;
grid-row-gap: 30px;
}


.card {
  height: 300px;
  width: 450px;
  position: relative;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
}

.cards > .card > .box {
  padding: 10px 15px;
  width: 80px;
  background-color: white;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 51px;
  right: 23px;
  font-weight: bolder;
  span {
    font-size: 10px;
    margin: 0;
  }
}

