.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1165px) {
  .indexmap {
  display: none !important;
  }
}
