.car-image {
  width: 400px;
  border-radius: 5px 0 0 5px;
}

.main-cnt {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
  border-radius: 3px;
}

.reservation {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  padding: 10px;
  border-radius: 3px;
}

.reservations {
  display: flex;
  justify-content: center;
}

.mapcard {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}
