.booking-container {
  width: 600px;
  margin: 30px;
  padding: 20px;
}

.small-italic {
  font-size: 15px;
  font-style: italic;
  opacity: 0.9;
}

#car_picture {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}
