.car-image {
  width: 400px;
  border: 2px solid #D4AF37;
}

.main-cnt {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
}

.reservation {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  width: 200px;
}

.reservations {
  display: flex;
  justify-content: center;
}
